body {
	/*background-image: url('../img/white1.jpg');*/
	background-size: cover;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

a:hover {
	opacity: 0.7
}

.mesAlbums {
	background-color: rgba(255, 255, 255, 1);	
}

input[type="text"] {
	border-radius: 0 16px 0 16px;
	padding: 14px;
}

input[type="text"]:focus {
	border-radius: 16px 0 16px 0;
	transition: 1s;
	padding: 14px;
}

select {
	border-radius: 0 16px 0 16px;
}

select:focus {
	border-radius: 16px 0 16px 0;
	transition: 1s;
}

#openAlbumInfos:hover{
	cursor: pointer;
}

.albuminfos{
	margin-top: 10px;
}

.editForm .inputfile {
	width: 0.1px; 
	height: 0.1px; 
	opacity: 0; 
	overflow: hidden; 
	position: absolute; 
	z-index: -1;\n" + 
}
													 
.editForm .inputfile + label { 
    font-size: 1.25em; 
    padding: 10px; 
    display: inline-block; 
}
													 
.editForm .inputfile:focus + label, 
.editForm .inputfile + label:hover { 
	    background-color: orange; 
	    border-radius: 5px;
	}
													 
.editForm .inputfile+label {
	cursor: pointer;
}